<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/checkout.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="checkout__products">
                <% products.forEach(p => { %>
                    <li class="checkout__product">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class="centered">
                <button id="order-btn" class="btn">ORDER!</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_51RnSx3Jzj8GO9QbQhZNGPgz1Ywq0rs77EvBFbSUfXpXCHaisVuXJ2iMBdTB69lF9MecRfWNIe0s4rzhIDjqd8vBB00Anh3QXuS');
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', function() {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        });
                    });
                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>